@media screen and (min-width: 320px) and (max-width: 610px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Header section */
    #header-section {
        position: absolute;
        top: 25%;
        bottom: 25%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    #header-section-title {
        width: 100%;
    }

    #header-section-img {
        width: 100%;
    }


    /* Our service */
    #service-container {
        text-align: center;
        padding: 10px;
    }

    #service-parent {
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
    }

    .service-item:nth-child(3) {
        margin: 0 0 30px 0;
    }

    /* About us  */

    #about-us {
        background-color: #00204a;
        padding: 60px 10px;
        margin: 0 0 80px 0;
    }

    #about-container {
        flex-direction: column;
    }

    /* Choose details parent */

    #choose-details-parent {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 10px;
    }

    .choose-details {
        margin: 0;
    }

    .choose-details:nth-child(1),
    .choose-details:nth-child(2),
    .choose-details:nth-child(3),
    .choose-details:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    /* Our Team  */

    #team {
        background-color: #00204a;
        padding: 70px 10px;
        margin: 0 0 90px 0;
    }

    /* team container */

    #team-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Review parent */

    #review-parent {
        padding: 0 10px;
        margin: 0 0 100px 0;
        flex-direction: column;
        gap: 80px;
    }

    /* footer on the page */

}