*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

#navbar a{
    text-decoration: none;
}

#navbar-link a{
    padding: 0 0 0 10px;
}