* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 0 50px 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url("../images/main-bg.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#navbar {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
}

#navbar-favicon a p {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
    transition: .5s;
}

#navbar-favicon a p:hover {
    text-shadow: 3px -2px #fff;
    font-size: 2rem;
}

#navbar a {
    text-decoration: none;
}

#navbar-link {
    transition: .3s;
}

#navbar-link a {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 20px 0 0;
}

#navbar-link i {
    color: #fff;
}

#navbar-link a:hover,
#navbar-link i:hover {
    color: aqua;
}


/* Header section */
#header-section {
    position: absolute;
    top: 25%;
    bottom: 25%;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#header-section-title {
    width: 50%;
}

#header-section-title h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

#header-section-title p {
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}

#header-section-title button {
    border: none;
    padding: 10px 35px;
    background-color: rgb(67, 177, 250);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    transition: .5s ease-out;
    box-shadow: inset 0 0 0 0 rgb(67, 177, 250);
    cursor: pointer;
}

#header-section-title button:hover {
    box-shadow: inset 170px 0 0 0 #fff;
    color: #000;
}

#header-section-img {
    width: 50%;
}

#header-section-img img {
    width: 100%;
}

/* Scroll down section */

/* #scroll-down{
    position: absolute;
    top: 80%;
    right: 45%;
    bottom: 0;
    left: 45%;
}

#scroll-down p{
    color: #fff;

}

#scroll-down i {
    
    color: #1b106a;
    font-size: 5rem;
} */

/* our services */
#service-title {
    margin-bottom: 40px;
}
#service-title p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#service-title p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

#service-title p:nth-child(1) span {
    color: #00bbf0;
}

.service-item{
    background-color: rgb(238, 238, 238);
    text-align: center;
}

.service-item img{
    width: 70px;
    height: 70px;
}