* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 0 50px 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url("../images/main-bg.png");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#navbar {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
}

#navbar-favicon a p {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 700;
    transition: .5s;
}

#navbar-favicon a p:hover {
    text-shadow: 3px -2px #fff;
    font-size: 2rem;
}

#navbar a {
    text-decoration: none;
}

#navbar-link {
    transition: .3s;
}

#navbar-link a {
    color: #fff;
    font-size: 1.2rem;
    padding: 0 20px 0 0;
}

#navbar-link i {
    color: #fff;
}

#navbar-link a:hover,
#navbar-link i:hover {
    color: aqua;
}


/* Header section */
#header-section {
    position: absolute;
    top: 25%;
    bottom: 25%;
    padding: 0 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#header-section-title {
    width: 50%;
}

#header-section-title h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

#header-section-title p {
    color: #fff;
    font-weight: 200;
    margin-bottom: 20px;
}

#header-section-title button {
    border: none;
    padding: 10px 35px;
    background-color: rgb(67, 177, 250);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    transition: .5s ease-out;
    box-shadow: inset 0 0 0 0 rgb(67, 177, 250);
    cursor: pointer;
}

#header-section-title button:hover {
    box-shadow: inset 170px 0 0 0 #fff;
    color: #000;
}

#header-section-img {
    width: 50%;
}

#header-section-img img {
    width: 100%;
}

/* Scroll down section */

/* #scroll-down{
    position: absolute;
    top: 80%;
    right: 45%;
    bottom: 0;
    left: 45%;
}

#scroll-down p{
    color: #fff;

}

#scroll-down i {
    
    color: #1b106a;
    font-size: 5rem;
} */

/* our services */
#service-container {
    margin-bottom: 70px;
}

#service-title {
    margin-bottom: 40px;
}

#service-title p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#service-title p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

#service-title p:nth-child(1) span {
    color: #00bbf0;
}

/* Service parent */

#service-parent {
    margin: 0 100px 60px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.service-item {
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    padding: 20px;
}

.service-item img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.service-item h3 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.service-item p {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.service-item a {
    border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
    color: rgb(11, 11, 94);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
    box-shadow: inset 0 0 0 0 transparent;
}

.service-item a:hover {
    box-shadow: inset 150px 0 0 0 rgb(11, 11, 94);
    color: #fff;
}

#view-all-service {
    text-align: center;
}

#view-all-service a {
    text-decoration: none;
    background-color: #00bbf0;
    color: #fff;
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: .5s;
}

#view-all-service a:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid #00bbf0;
}

/* About us  */

#about-us {
    background-color: #00204a;
    padding: 60px 60px 50px;
    margin: 0 0 80px 0;
}

#about-title {
    margin-bottom: 40px;
}

#about-title p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
}

#about-title p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
}

#about-title p:nth-child(1) span {
    color: #1dceff;
}

#about-title p:nth-child(2) {
    font-weight: 300;
}

#about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#about-img img {
    width: 100%;
}

#about-details {
    width: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#about-details h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#about-details p {
    font-weight: 300;
    margin-bottom: 20px;
}

#about-details button {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px 35px;
    font-weight: 600;
    background-color: #2dc6f0;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

#about-details button:hover {
    border: 2px solid #2dc6f0;
    background-color: transparent;
}

/* Why Choose us */

#choose-title h5 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 40px;
}

#choose-title h5 span {
    color: #0b1dc4;
}

/* choose detail parent */

#choose-details-parent {
    margin: 0 0 30px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.choose-details {
    text-align: center;
    margin: 0 0 30px 0;
    background-color: rgb(238, 238, 238);
    padding: 20px;
    border-radius: 5px;
}

.choose-details:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 13;
}

.choose-details:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 7;
}

.choose-details:nth-child(3) {
    grid-column-start: 7;
    grid-column-end: 13;
}

.choose-details:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 13;
}

.choose-details img {
    width: 100px;
    height: 100px;
    border: 4px solid #00204a;
    border-radius: 50%;
    padding: 20px;
    margin: 0 0 15px;
}

.choose-details h6 {
    font-size: 1.5rem;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 15px;
}

.choose-details p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Our Team  */

#team {
    background-color: #00204a;
    padding: 70px 50px;
}

#team-title h6 {
    font-size: 3rem;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#team-title h6 span {
    color: #3549fa;
}

/* team container */

#team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team-member {
    background-color: #123f79;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.team-member img {
    width: 130px;
    height: 130px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h6 {
    color: #3549fa;
    font-size: 1.5rem;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}

.team-member p {
    color: #fff;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    margin: 0 0 20px 0;
}